@import "highlight.js/styles/github.css";

:root {
  --bg-color: #101114;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
}

h1,
p,
a,
span,
label,
button {
  color: var(--text-color);
}

.dark-box {
  background-color: #dcdcdc; /* Dark mode box color */
}

.light-box {
  background-color: #0b0b0b; /* Light mode box color */
}

.hlao {
  -webkit-text-stroke: white 1px;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-in-out forwards;
}

.scroll-hidden {
  scrollbar-width: none;
}
