/* index.css or App.css */
@import "highlight.js/styles/github.css"; /* Or any other theme you prefer */

:root {
  --bg-color: #101114;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);

}

h1,
p,
a,
span {
  color: var(--text-color);
}

.hlao {
  -webkit-text-stroke: white 1px;
}

@keyframes slide-in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.5s ease-in-out forwards;
}

.scroll-hidden {
  scrollbar-width: none;
}
